<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Add a movie</title>
</head>
<body>
<form action="addMovie" method="POST">
    <p>Movie Title: <input type="text" name="movieTitle" /></p>
    <p>Maturity Rating: <input type="text" name="maturityRating" /></p>
    <p>Genre: <input type="text" name="genre" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>
<a href="/">Home</a>
</body>
</html>