<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Getting Started: Serving Web Content</title>
</head>
<body>
    <p>I Love Movies!</p>
    <a href="bestMovie">Find the best Movie!</a>
    <a href="voteForTheBestMovieForm">Vote for your favorite movie!</a>
    <a href="addMovieForm">Add a movie</a>
</body>
</html>